ext/.libs/
ext/modules/
ext/include/
ext/autom4te.cache/
ext/build/
ext/*.lo
ext/*.la
ext/*.dep
ext/*.o
ext/config.h
ext/config.h.in
ext/config.h.in~
ext/config.log
ext/config.nice
ext/config.status
ext/configure
ext/configure~
ext/configure.ac
ext/libtool
ext/Makefile
ext/Makefile.*
ext/mkinstalldirs
ext/install-sh
ext/missing
ext/acinclude.m4
ext/aclocal.m4
ext/run-tests.php
ext/tests/*.diff
ext/tests/*.out
ext/tests/*.exp
ext/tests/*.log
ext/tests/*.sh
ext/tests/*.mem
docker/
